Django==5.1.4
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==24.3
python-decouple==3.8
psycopg2-binary==2.9.12
openpyxl==3.1.5
django-jazzmin==3.0.5
gspread==6.2.1
google-auth==2.56.2
gunicorn==23.0.0
whitenoise==6.12.0
django-anymail[postmark]==11.1
